body:after{
display:none;
content: 
url(https://raw.githubusercontent.com/uitcode/image-upload/master/img2/out1.png)
url(https://raw.githubusercontent.com/uitcode/image-upload/master/img2/out2.png)
url(https://raw.githubusercontent.com/uitcode/image-upload/master/img2/out3.png)
url(https://raw.githubusercontent.com/uitcode/image-upload/master/img2/out4.png)
url(https://raw.githubusercontent.com/uitcode/image-upload/master/img2/out5.png)
url(https://raw.githubusercontent.com/uitcode/image-upload/master/img2/out6.png)
url(https://raw.githubusercontent.com/uitcode/image-upload/master/img2/out7.png)
url(https://raw.githubusercontent.com/uitcode/image-upload/master/img2/out8.png)
url(https://raw.githubusercontent.com/uitcode/image-upload/master/img2/out9.png)
url(https://raw.githubusercontent.com/uitcode/image-upload/master/img2/out10.png)
url(https://raw.githubusercontent.com/uitcode/image-upload/master/img2/out11.png)
url(https://raw.githubusercontent.com/uitcode/image-upload/master/img2/out12.png)
url(https://raw.githubusercontent.com/uitcode/image-upload/master/img2/out13.png)
url(https://raw.githubusercontent.com/uitcode/image-upload/master/img2/out14.png)
url(https://raw.githubusercontent.com/uitcode/image-upload/master/img2/out15.png)
url(https://raw.githubusercontent.com/uitcode/image-upload/master/img2/out16.png)
url(https://raw.githubusercontent.com/uitcode/image-upload/master/img2/out17.png)
url(https://raw.githubusercontent.com/uitcode/image-upload/master/img2/out18.png)
url(https://raw.githubusercontent.com/uitcode/image-upload/master/img2/out19.png)
url(https://raw.githubusercontent.com/uitcode/image-upload/master/img2/out20.png);
}